* {
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

body {
  background-color: #fc7643;
}

.fondo {
  background-image: url(img/cook-4966896_1280.jpg) !important;
  background-size: cover !important;
}

.navbar {
  background-color: #273248 !important;
}

.navbar-brand {
  color: #FFEBD2 !important;
  font-weight: bold !important;
  text-shadow: 0 0 5px #273248 !important;
  font-size: 35px !important;
  background-color: #273248 !important;
  border: 2px solid #af4f41 !important;
  border-radius: 10px !important;
}

.color-acento {
  color: #fc7643 !important;
}

.nav-link {
  color: #FFEBD2;
  font-size: 20px;
}

.carousel-item {
  background-size: cover !important;
}

.custom-border-radius {
  color: #FFEBD2 !important;
  border: 2px solid #af4f41 !important;
  border-radius: 15px !important;
  background-color: #273248 !important;
}

.fondo-section {
  background-image: url(img/cook-4966896_1280.jpg) !important;
  background-size: cover !important;
}

.fondo-contacto {
  background-image: url(img/cook-4966896_1280.jpg) !important;
  background-size: cover !important;
  color: #FFEBD2;
}

.boton {
  background-color: #273248;
  color: #fc7643;
  border: 1px solid #fc7643 !important;
  border-radius: 4px !important;
  margin-top: 5px;
}

.boton:hover {
  background: #af4f41 !important;
  color: #FFEBD2 !important;
}

footer {
  background-color: #273248;
  color: white;
}

.redes a {
  color: #fc7643;
  text-decoration: none;
  font-size: 30px;
}

h2 {
  background-color: #273248 !important;
  color: #FFEBD2 !important;
}

h4 {
  color: #FFEBD2 !important;
}

.container-card {
  width: 100% !important;
  display: flex !important;
  max-width: 1100px !important;
  margin: auto !important;
}

.title-cards {
  width: 100% !important;
  max-width: 1080px !important;
  margin: auto !important;
  padding: 20px !important;
  margin-top: 20px !important;
  text-align: center !important;
  color: #FFEBD2 !important;
}

.card {
  width: 100% !important;
  margin: 20px !important;
  border-radius: 6px !important;
  overflow: hidden !important;
  background-color: #273248 !important;
  box-shadow: 0px 1px 10px #273248 !important;
  transition: all 400ms ease-out !important;
  cursor: default !important;
}

.card:hover {
  box-shadow: 5px 5px 20px #273248 !important;
  transform: translateY(-3%) !important;
}

.card img {
  width: 100% !important;
  height: 210px !important;
}

.card .contenido-card {
  padding: 15px !important;
  text-align: center !important;
}

.card .contenido-card h3 {
  margin-bottom: 15px !important;
  color: #FFEBD2 !important;
}

.card .contenido-card p {
  line-height: 1.8 !important;
  color: #FFEBD2 !important;
  font-size: 14px !important;
  margin-bottom: 5px !important;
}

.card .contenido-card a {
  display: inline-block !important;
  padding: 10px !important;
  margin-top: 10px !important;
  text-decoration: none !important;
  color: #fc7643 !important;
  border: 1px solid #fc7643 !important;
  border-radius: 4px !important;
  transition: all 400ms ease !important;
  margin-bottom: 5px !important;
}

.card .contenido-card a:hover {
  background: #af4f41 !important;
  color: #FFEBD2 !important;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .container-card {
    flex-wrap: wrap !important;
  }
  .card {
    margin: 15px !important;
  }
}

/*# sourceMappingURL=estilos.css.map */
